DB_URL=jdbc:postgresql://localhost:54321/task_auth_db
DB_USER=user
DB_PASSWORD=password
DB_SCHEMA=auth_schema

# Kafka Servers
KAFKA_SERVERS=localhost:9094

# Security
# Секретный ключ для подписи JWT (минимум 64 символа)
JWT_SECRET=your_super_secret_key_at_least_64_symbols_long_change_it_in_prod